* {
  margin: 0 auto;
  padding: 0;
  outline: none;
  text-align:center;
}

body {
  background-image: url("img/background001.jpg");
background-repeat:no-repeat;
background-size: cover;
  color: white;
}