
/*
.ImLate {

    width: 363px;
    height: 101px;
    font-size: 75px;
    text-shadow: 1px px 11px yellow;
    color: #1110107d;
    position:relative;
    top:138px;
    font-family: 'Gochi Hand', cursive;
    background-image: linear-gradient(rgba(255, 255, 255, 0.91), #201f1c38);
    
}
*/